<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Games">Game Library</a></li>
        <li><a href="/AddGame" class="add-game-button">Add Game</a></li>
    </ul>
</nav>

<style>
    .add-game-button {
        background-color: #444;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
    }
    .add-game-button:hover {
        background-color: #555;
    }
</style>
